{{!-- CREATE NEW HOTSPOTS HERE --}}

  <div class="center">
    <h1>CREATE NEW HOTSPOT</h1>
    <div class="create-box">

    

      <form id="form" action="/createNewHotSpot" method="POST">
          <label for="hName">HotSpot Name</label><br>
          <input type="text" name="name" placeholder="HS Name"><br>

          <label for="hLocation">Location</label><br>
          <input type="text" name="location" placeholder="e.g. 123 Fake St."><br>

          <label for="hType">Type of place</label><br>
          <input type="text" name="kind" placeholder="restaurant, bar, ect."><br>

          <label for="hSubtype">Genre</label><br>
          <input type="text" name="genre" placeholder="What 'genre?' "><br>

          <div class="button">
            <input type="checkbox" name="coolspot" value="true">CoolSpot<br>
          </div>

          <div class="button-padding">
            <button type="submit">Create HotSpot</button>
          </div>

        </form>

      {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
      
    </div>
  </div>
