{{!-- THIS IS THE HOMEPAGE --}}

<div class='pic'>

    <div class="center-box">
      <h1>Welcome to HotSpot!</h1>

      {{#unless user}}
          <h3><a  class="button" href="/login">Login</a></h3><br>
          <h4>or</h4><br>
          <h3><a  class="button" href="/signup">Create an account</a></h3>
          <br>
          <p>Want to learn about how HotSpot works? <a href='/about'>Read Here</a></p>
      {{/unless}}
    </div>

</div>
