<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
   <style>
      #map{
        height:500px;
        width:100%;
  
      }
    </style>
</head>
<body>

  <nav class="navbar navbar-dark bg-primary">
    <h4 class="white">HotSpot</h4>
    <a href="/about">About</a>
    <a href="/profile">Profile</a>
    <a href="/create">Create a HotSpot</a>
    <a href="/view-hotspots">All HotSpots</a>
    {{#if user}}
     <a href="/logout">LogOut</a>
    {{/if}}
    {{#unless user}}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {{/unless}}
    
  {{#if user}}
  <form  id="findName" action="/findName" method="POST">
    <label class="red" for="username">Search for username</label>
    <input type="text" value="Alex"placeholder="search..." name="username">
    <button type="submit">Go!</button>
  </form>
  {{/if}}

</form>
  </nav>
<body class="bg-color">
  {{{body}}}
</body>
  {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDHQg3R9w2fSbdKrYv1vrKAE5sdOJ2uLU"></script> --}}
  
  <script src="/javascripts/script.js"></script>
</body>
</html>
