<form action="/login" method="POST">
  <div>
    <h1>Login</h1>
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="qwer">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" value="1234">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>
</form>