<form action="" method="post">
  <section id="editComment">
    <div class="editBox">
      <label class="edit-idea" for="">Edit idea: </label>
      <br>
        <input type="text" name="comment" value="{{comment.comment}}">
      <br>
      <br>

      <button class="edit-submit-button" type="submit">EDIT</button>
    </div>
  </section>
</form>