
<form id="form" action="/createNewHotSpot" method="POST">
    <label for="hName">HotSpot Name</label><br>
    <input type="text" name="name" placeholder="HS Name">

    <label for="hLocation">Location</label><br>
    <input type="text" name="location" placeholder="e.g. 123 Fake St.">

    <label for="hType">Type of place</label><br>
    <input type="text" name="kind" placeholder="restaurant, bar, ect.">

    <label for="hSubtype">Genre</label><br>
    <input type="text" name="genre" placeholder="What 'genre?' ">

    <button type="submit">Create HotSpot</button>
  </form>

<a href="/homepage">Go Back</a>

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}