Dashboard
<h1> {{title}} 
      <h2 class="Filters">Filters</h2>
        <label for="start">From:
        <input type="date" id="startDate" value="2019-01-01">
        </label>

        <label for="start">To:
        <input type="date" id="endDate" value="2019-02-18">
        </label>
        <select>
          <option class="USD" type="USD">USD</option>
          <option class="EUR" type="EUR">EUR</option>
        </select>
    <canvas id="myChart" width="300" height="150"></canvas>
  </h1>
  <script src="/javascripts/financial-chart.js"></script>
