Dashboard
{{!-- <h1>
  <div style="position: absolute; top: 10px;">
    <canvas id="forexChart" width="1000px" height="800px"></canvas>
  </div>

</h1> --}}

<h1> {{title}} 
    <h2>Currency Pair</h2>
      <label for="currencyPair">
      <select>
        <option class="fromPair" type="AUD">AUD</option>
        <option class="fromPair" type="CAD">CAD</option>
        <option class="fromPair" type="EUR">EUR</option>
        <option class="fromPair" type="GBP">GBP</option>
        <option class="fromPair" type="JPY">JPY</option>
        <option class="fromPair" type="NZD">NZD</option>
        <option class="fromPair" type="USD">USD</option>
        <option class="fromPair" type="XAU">XAU</option>
      </select>
      <select>
        <option class="toPair" type="AUD">AUD</option>
        <option class="toPair" type="CAD">CAD</option>
        <option class="toPair" type="EUR">EUR</option>
        <option class="toPair" type="GBP">GBP</option>
        <option class="toPair" type="JPY">JPY</option>
        <option class="toPair" type="NZD">NZD</option>
        <option class="toPair" type="USD">USD</option>
        <option class="toPair" type="XAU">XAU</option>
      </select>
      </label>

    <canvas id="myChart" width="300" height="150"></canvas>
    <a href="/private-page">Profile</a>
  </h1>
  <script src="/javascripts/financial-chart.js"></script>
