<div class="center">
  <h1>Welcome to HotSpot!</h1>

  {{#unless user}}
      <h3><a  class="button" href="/login">Login</a></h3><br>
      <h4>or</h4><br>
      <h3><a  class="button" href="/signup">Create an account</a></h3>
  {{/unless}}
</div>