<section id="intro">
<div class="main">
  <h1>{{title}}</h1>
  <p class="message">A social gathering for Forex Traders</p>
  <button class="login">
    <a href="/login">Login</a>
  </button>
  </br>
  <button class="signup">
    <a href="/signup">SignUp</a>
  </button>
</div>

</section>

