<script src="../chart/moment.js" type="text/javascript"></script>
<script src="../chart/Chart.js" type="text/javascript"></script>
<script src="../chart/Chart.Financial.js" type="text/javascript"></script>
<script src="../chart/utils.js" type="text/javascript"></script>

<div class="content">
  <h2>Candlestick</h2>
  <div style="width:1000px">
    <canvas id="chart1"></canvas>
  </div>
</div>

<script>

  //var data = JSON.parse('{{{json data}}}');
  //console.log(data)
  var ctx = document.getElementById("chart1").getContext("2d");
  ctx.canvas.width = 1000;
  ctx.canvas.height = 250;

  axios.get('https://www.alphavantage.co/query?function=FX_INTRADAY&from_symbol=EUR&to_symbol=USD&interval=15min&apikey=J32AHKQGTWBB4KXL')
    .then(allData => {
      console.log(allData)
      var times = allData.data["Time Series FX (15min)"];

      //var update = false;

      //if (stockChart.series.count() > 0)
      //update = true;
      console.log(times)
      let data = []
      for (var time in times) {
        var stock_info = times[time];
        console.log(stock_info)
            //"1. open": "1.1373",
            //"2. high": "1.1375",
            //"3. low": "1.1371",
            //"4. close": "1.1373"
        data.push({
          o: Number(stock_info["1. open"]), 
          c: Number(stock_info["4. close"]),
          l: Number(stock_info["3. low"]),
          h: Number(stock_info["2. high"]),
          t: (new Date(time)).getTime()
        })
        
        
        //data.push(stock_info)
      }
      console.log(data)
      new Chart(ctx, {
        type: 'candlestick',
        data: {
          datasets: [{
            label: "CHRT - Chart.js Corporation",
            data: data,
            fractionalDigitsCount: 2,
          }]
        },
        options: {
          tooltips: {
            position: 'nearest',
            mode: 'index',
          },
        },
      });
    })


  //var data = getRandomData('April 01 2017', 60);
  //console.log(data)
  // Candlestick





</script>