<h1>ALL HOTSPOTS</h1>

{{#each hotspotsToHBS}}
  {{!-- {{#if this.first}} --}}
  <div>
    <h3>NAME: {{this.name}}</h3> <br>
    <h3>LOCATION: {{this.location}}</h3> <br>
    <h3>TYPE: {{this.kind}}</h3> <br>
    <h3>GENRE: {{this.genre}}</h3> <br>
  </div>
  {{!-- {{/if}} --}}
{{/each}}


  {{!-- <h1>You haven't checked in to any HotSpots!</h1>
  <a href="/create">Create one here!</a> --}}


