<h1>ALL HOTSPOTS</h1>

{{#each hotspotsToHBS}}
  {{!-- {{#if this.first}} --}}
  <div>
    <h3>NAME: {{this.name}}</h3> <br>
    <h4>Location: {{this.location}}</h4> <br>
    <h4>Type: {{this.kind}}</h4> <br>
    <h4>Genre: {{this.genre}}</h4> <br>
  </div>
  {{!-- {{/if}} --}}
{{/each}}


  {{!-- <h1>You haven't checked in to any HotSpots!</h1>
  <a href="/create">Create one here!</a> --}}


