body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: whitesmoke;
}

.bg-primary{
  background-color: black!important;
}

// .bg-color{
  
// }

.red{
  color:red;
}

.button{
  color:#3100BA;
}

.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll{
  overflow:scroll;
}

.hot{
  background-color: red;
}

.cold{
  background-color: blue;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(109, 68, 68);
  border-color: #0062cc;
}

.center{
  text-align: center;
}

.white{
  color: white;
  padding-top: 4px;
}